<div *ngIf="farmerJobs.length > 0">
    <h3 class="text-2xl font-bold mb-4">My Jobs</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
      <div *ngFor="let job of farmerJobs" class="bg-white rounded-lg shadow-lg overflow-hidden">
        <div class="p-6">
          <h3 class="text-xl font-semibold text-green-primary mb-4">{{ job.title }}</h3>
          <p class="text-gray-600 mb-4">{{ job.description }}</p>
          <span class="text-lg font-semibold text-green-dark">₹{{ job.wage }} / day</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="farmerJobs.length === 0">
    <p class="text-gray-600">You have not posted any jobs yet.</p>
  </div>
  