<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="message-box _success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h2> Your payment was successful </h2>
                <p> Thank you for your payment. We will <br>
                    be in contact with more details shortly. </p>
                
                <!-- Show Orders Button -->
                <button [routerLink]="'/orders'" class="mt-10 bg-green-primary text-white px-4 py-2 rounded-md font-semibold hover:bg-green-dark">
                    Show Orders
                </button>
                
            </div> 
        </div> 
    </div> 
</div>
<hr>
